
  <br>
  <div class="container">
    <hr>
    <div class="row">
      <div class="carousel-item active">
        <img src="https://www.pngitem.com/pimgs/m/75-759411_clip-art-shop-logo-transparent-shop-logo-png.png" class="card-img-top w-100 h-100" alt="...">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="card" style="width: 18rem; margin: 20px;">
        <img src="https://media.istockphoto.com/photos/modern-restaurant-interior-design-picture-id1211547141?k=20&m=1211547141&s=612x612&w=0&h=KiZX3NBZVCK4MlSh4BJ8hZNSJcTIMbNSSV2yusw2NmM=" class="card-img-top w-100 h-100" alt="...">
        <div class="card-body">
          <p class="card-text">Best Style</p>
        </div>
      </div>
      
      <div class="card" style="width: 18rem; margin: 20px;">
        <img src="https://images.unsplash.com/photo-1559925393-8be0ec4767c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y2FmZXxlbnwwfHwwfHw%3D&w=1000&q=80" class="card-img-top w-100 h-100" alt="...">
        <div class="card-body">
          <p class="card-text">Best Style</p>
        </div>
      </div>

      <div class="card" style="width: 18rem; margin: 20px;">
        <img src="https://images.unsplash.com/photo-1445116572660-236099ec97a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNhZmV8ZW58MHx8MHx8&w=1000&q=80" class="card-img-top w-100 h-100" alt="...">
        <div class="card-body">
          <p class="card-text">Best Style</p>
        </div>
      </div>

      <div class="card" style="width: 18rem; margin: 20px;">
        <img src="https://images.unsplash.com/photo-1554118811-1e0d58224f24?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FmZXxlbnwwfHwwfHw%3D&w=1000&q=80" class="card-img-top w-100 h-100"alt="...">
        <div class="card-body">
          <p class="card-text">Best Style</p>
        </div>
      </div>

    </div>
  </div>

  
