
    <br>
    <div class="album py-5">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm" style="border: solid 2px;">
                        <img src="https://www.modernoutdoor.co.th/media/catalog/product/cache/2/image/400x400/9df78eab33525d08d6e5fb8d27136e95/k/p/kp_8503-kampus-two-tops-table-01.jpg"
                        class="card-img-top w-100 h-100" alt="...">
                        <hr>
                        <div class="card-body">
                            <h3>Table</h3>
                            <p class="card-text">Normal Style</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">new</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm" style="border: solid 2px;">
                        <img src="https://www.modernoutdoor.co.th/media/catalog/product/cache/2/image/400x400/9df78eab33525d08d6e5fb8d27136e95/w/m/wm9013-black-01.jpg"
                        class="card-img-top w-100 h-100" alt="...">
                        <hr>
                        <div class="card-body">
                            <h3>Chair</h3>
                            <p class="card-text">Normal Style</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">new</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm" style="border: solid 2px;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVBIRNhl-uZUeSd1GgWpn9vGX7Tt-2lasEBA&usqp=CAU"
                        class="card-img-top w-100 h-100" alt="...">
                        <hr>
                        <div class="card-body">
                            <h3>Coffee Machine</h3>
                            <p class="card-text">Normal Style</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">new</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm" style="border: solid 2px;">
                        <img src="https://m.media-amazon.com/images/I/81mT4QVuPhL._SL1500_.jpg"
                        class="card-img-top w-100 h-100" alt="...">
                        <hr>
                        <div class="card-body">
                            <h3>Coffee Mug</h3>
                            <p class="card-text">Normal Style</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">new</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm" style="border: solid 2px;">
                        <img src="http://sc04.alicdn.com/kf/HTB1AowCjDnI8KJjy0Ffq6AdoVXa0.jpg"
                        class="card-img-top w-100 h-100" alt="...">
                        <hr>
                        <div class="card-body">
                            <h3>Plate</h3>
                            <p class="card-text">Normal Style</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">new</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm" style="border: solid 2px;">
                        <img src="https://www.ikea.com/th/th/images/products/duvholmen-inner-cushion-for-seat-cushion-outdoor-grey__0684483_pe721196_s5.jpg?f=s"
                        class="card-img-top w-100 h-100" alt="...">
                        <hr>
                        <div class="card-body">
                            <h3>Pillow</h3>
                            <p class="card-text">Normal Style</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                </div>
                                <small class="text-muted">new</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
